@model IEnumerable<CMS.BusinessEntities.ViewModel.DealerViewModel>

@{
    Layout = "~/Areas/User/views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>

<body>
       <section class="quote-area ">
        <div class="container">
            <div class="row justify-content-center text-left section-title-wrap">
                <div class="col-lg-12 mt-4">
                    <h2 class="text-white">
                        Quotation Result <br>
                    </h2>
                </div>
            </div>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-getEstimation" role="tabpanel" aria-labelledby="nav-getEstimation-tab">
                    <table class="table">

                        <tr>
                            @*<th>
                            @Html.DisplayNameFor(model => model.First().DealerId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().RoleId)
                        </th>*@
                            @*<th>
                            @Html.DisplayNameFor(model => model.First().DealerName)
                        </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.First().CompanyName)
                            </th>
                            @*<th>
                            @Html.DisplayNameFor(model => model.First().Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Password)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().CompanyAreaName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().CompanyCityName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Pincode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().MobileNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().RegistrationNo)
                        </th>*@
                            <th>
                                @Html.DisplayName("Category Type")
                            </th>
                            <th>
                                @Html.DisplayName("Service Type")
                            </th>
                            <th>
                                @Html.DisplayName("Price")
                            </th>
                            @*<th>
                            @Html.DisplayNameFor(model => model.First().PerCategoryPrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().PerServicePrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().PerKgPrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().PerKmPrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().CategoryId)
                        </th>*@
                            @*<th>
                            @Html.DisplayNameFor(model => model.First().CategoryName)
                        </th>*@
<th></th>
                        </tr>
                        @{ 
                            List<decimal> prices = (List<decimal>)TempData["Price"];
                            int i = 0;
                        }
                        @foreach (var item in Model)
                        {
                            <tr>
                                @*<td>
                                @Html.DisplayFor(modelItem => item.DealerId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RoleId)
                            </td>*@
                                @*<td>
                                @Html.DisplayFor(modelItem => item.DealerName)
                            </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.CompanyName)
                                </td>
                                <td>
                                    @*@ViewBag.CategoryName*@
                                    @Html.DisplayFor(modelItem => item.CategoryName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ServiceName)
                                </td>
                                <td>
                                       @prices[i]
                                </td>
                                @*<td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Password)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CompanyAreaName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CompanyCityName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Pincode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MobileNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RegistrationNo)
                            </td>*@
                                @*<td>
                                @Html.DisplayFor(modelItem => item.PerCategoryPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PerServicePrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PerKgPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PerKmPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryId)
                            </td>*@
                                @*<td>
                                @Html.DisplayFor(modelItem => item.CategoryName)
                            </td>*@
                                <td>
                                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@

                                    @*<button class="main_btn text-uppercase" href="@Url.Action("AddressDetails","User",new { Area= "User"})" style="line-height:50px;padding: 0px 20px;">Book Now</button>*@
                                    @*@Html.ActionLink("Book Now","AddressDetails",new { Area="User", Controller="User"},new {@class= "main_btn text-uppercase" , @style= "line-height:50px;padding: 0px 20px;" })*@
                                    @*<a href="/User/User/AddressDetails?dealerid=@item.DealerId&price=@prices[i]" class="main_btn text-uppercase" style="line-height:50px;padding: 0px 20px;" >Book Now</a>*@
                                    <form method="post" action="/User/User/Details?dealerid=@item.DealerId">
                                        <input type="hidden" id="price" name="price" value="@prices[i]"/>
                                        @*<a class="main_btn text-uppercase" style="line-height:50px;padding: 0px 20px;">Book Now</a>*@
                                        <input type="submit" value="Book Now" class="main_btn text-uppercase" style="line-height:50px;padding: 0px 20px;" />
                                    </form>
                                </td>
                                
                            </tr>
                            {
                                i = i + 1;
                            }
                        }

                    </table>
                </div>
            </div>
        </div>
    </section>

                   <!--================ Optional JavaScript =================-->
            <!--================ jQuery first, then Popper.js, then Bootstrap JS =================-->
            @*<script src="~/Scripts/jquery-3.2.1.min.js"></script>
            <script src="~/Scripts/popper.js"></script>
            <script src="~/Scripts/bootstrap.min.js"></script>
            <script src="~/Scripts/jquery.nice-select.min.js"></script>
            <script src="~/Scripts/isotope-min.js"></script>
            <script src="~/Scripts/owl.carousel.min.js"></script>
            <script src="~/Scripts/jquery.ajaxchimp.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
            <script src="~/Scripts/mail-script.js"></script>
            <script src="~/Scripts/custom.js"></script>*@
</body>
</html>
