@model IEnumerable<CMS.BusinessEntities.ViewModel.AddressDetailsViewModel>

@{
    Layout = "~/Areas/Dealer/Views/_LayoutPage1.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<body>
    <!--================Header Menu Area =================-->
    <!--================ End CTA Area ================-->
    <section class="quote-area ">
        <div class="container">
            <div class="row justify-content-center text-left section-title-wrap">
                <div class="col-lg-12 mt-4">
                    <h2 class="text-white" style="text-align:center">
                        Current Orders <br>
                    </h2>
                </div>
            </div>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-getEstimation" role="tabpanel" aria-labelledby="nav-getEstimation-tab">
                    <table class="table">

                        <tr>

                            <th>
                                @Html.DisplayName("Order Id")
                            </th>

                            <th>
                                @Html.DisplayName("Sender Details")
                            </th>
                            <th>
                                @Html.DisplayName("Reciver Details")
                            </th>
                            <th>
                                @Html.DisplayName("Package Details")
                            </th>
                            <th>
                                @Html.DisplayName("Price")
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedDate)<br />
                                    @Html.DisplayFor(modelItem => item.FromName)<br />
                                    @Html.DisplayFor(modelItem => item.FromAddressLine)<br />
                                    @Html.DisplayFor(modelItem => item.FromAreaName)<br />
                                    @Html.DisplayFor(modelItem => item.FromCityName)<br />
                                    @Html.DisplayFor(modelItem => item.FromPinCode)<br />
                                    @Html.DisplayFor(modelItem => item.FromMobileNo)<br />
                                    @Html.DisplayFor(modelItem => item.FromEmail)<br />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ToName)<br />
                                    @Html.DisplayFor(modelItem => item.ToAddressLine)<br />
                                    @Html.DisplayFor(modelItem => item.ToAreaName)<br />
                                    @Html.DisplayFor(modelItem => item.ToCityName)<br />
                                    @Html.DisplayFor(modelItem => item.ToPinCode)<br />
                                    @Html.DisplayFor(modelItem => item.ToMobileNo)<br />
                                    @Html.DisplayFor(modelItem => item.ToEmail)<br />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PackageWeight)<br />
                                    @Html.DisplayFor(modelItem => item.DealerProductId)<br />
                                    @Html.DisplayFor(modelItem => item.DealerServiceId)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    <a class="main_btn text-uppercase" style="line-height:50px;padding: 0px 20px;">Process Order</a>
                                </td>
                                @*<td>

                                            <form method="post" action="/User/User/Details?dealerid=@item.DealerId">
                                                <input type="hidden" id="price" name="price" value="@prices[i]" />
                                                @*<a class="main_btn text-uppercase" style="line-height:50px;padding: 0px 20px;">Book Now</a>
                                                <input type="submit" value="Book Now" class="main_btn text-uppercase" style="line-height:50px;padding: 0px 20px;" />
                                            </form>
                                        </td>

                                    </tr>
                                        {
                                            i = i + 1;
                                        }
                                    }*@

                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </section>
</body>
</html>